:host {
  display: inline-flex;
}

span {
  font-size: 40px;
  color: black;
  font-weight: 600;
  display: inline-block;
  min-width: 3em;
}

button {
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  font-weight: bold;
  color: red;
}